/* bootstrap over-rides, not too many because it's a headache to maintain too many */

/* end of bootstrap over-rides */


/* eint styles */

.eint-heading-icon {
    padding-left:40px;
    background-repeat:no-repeat;
    background-position:0 4px;
}
.eint-icon-add {
    background-image:url('/static/img/woocons1/File_Add.png');
}
.eint-icon-drawer-closed {
    background-image:url('/static/img/woocons1/Drawer_Closed.png');
}
.eint-icon-drawer-open {
    background-image:url('/static/img/woocons1/Drawer_Open.png');
}
.eint-icon-checklist {
    background-image:url('/static/img/woocons1/Document_Checklist.png');
}
.eint-icon-document-1-upload {
    background-image:url('/static/img/woocons1/Document_1_Upload.png');
}
.eint-icon-document-1-edit {
    background-image:url('/static/img/woocons1/Document_1_Edit.png');
}
.eint-icon-document-1-remove {
    background-image:url('/static/img/woocons1/Document_1_Remove.png');
}
.eint-icon-globe {
    background-image:url('/static/img/woocons1/Globe_Active.png');
}
.eint-icon-pencil {
    background-image:url('/static/img/woocons1/Pencil.png');
}
.eint-icon-settings {
    background-image:url('/static/img/woocons1/Cog.png');
}
.eint-icon-warning {
    background-image:url('/static/img/woocons1/Sign_Warning.png');
}

td.number, th.number {
  	text-align:right;
  	padding-right:10px;
}

/* end of eint styles */
