/* to make this project easy to maintain, I've mostly stuck to vanilla Bootstrap styles - andythenorth */

/* bootstrap over-rides, not too many because it's a headache to maintain too many */

/* bootstrap h1 and h2 are seriously too big, so over-ride them */
h1 {
    font-size:28px;
}
h2 {
    font-size:22px;
}

/* end of bootstrap over-rides */


/* eint styles */

.eint-navbar {
	margin-top:25px;
}

.eint-form-actions {
    margin:30px;
    float:right;
}

.eint-file-upload {
    margin-left:-98px;
}

.footer {
    width:100%;
    margin:0;
    margin-top:50px;
    padding:6px 0;
    clear:both;
    float:left;
    background-image:url('/static/img/footer_bg.png');
    background-repeat:repeat-x;
    text-align:center;
    color:#bbb;
    font-size:12px;
}

/* end of eint styles */