name: Testing

on:
  push:
    branches:
    - openttd-github
  pull_request:

jobs:
  docker:
    name: Docker build
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v2
    - name: Build
      run: docker build .

  flake8:
    name: Flake8
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v2
    - name: Flake8
      uses: TrueBrain/actions-flake8@master
      with:
        path: webtranslate scripts/filter_update_langs scripts/lang_sync scripts/eintsgit.py run

  black:
    name: Black
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v2
    - name: Set up Python 3.8
      uses: actions/setup-python@v1
      with:
        python-version: 3.8
    - name: Black
      # bottle is an external library, hence excluded
      run: |
        python -m pip install --upgrade pip
        pip install black
        black -l 120 --exclude webtranslate/bottle.py --check webtranslate scripts/filter_update_langs scripts/lang_sync scripts/eintsgit.py run
